@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Kodchasan";
    src: url('/assets/fonts/Kodchasan-Regular.woff') format('woff');
  }
  @font-face {
    font-family: "Chewy";
    src: url('/assets/fonts/Chewy-Regular.ttf') format('truetype');
  }
  body {
    @apply bg-lighterPink;
  }
}

.transparent-background {
  position: relative;
}

.transparent-background::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.transparent-background > * {
  position: relative;
}

.selected-tab {
  border-bottom: 2px solid #DC143C !important;
}

.selected-tab:focus:after {
  background: none !important;
}

.disable-cross::-webkit-search-decoration,
.disable-cross::-webkit-search-cancel-button,
.disable-cross::-webkit-search-results-button,
.disable-cross::-webkit-search-results-decoration { display: none; }

.loader {
  border: 1rem solid #F3F3F3; /* Light grey */
  border-top: 1rem solid #3498DB; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}