@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Kodchasan";
    src: url('/assets/fonts/Kodchasan-Regular.woff') format('woff');
  }
  @font-face {
    font-family: "Chewy";
    src: url('/assets/fonts/Chewy-Regular.ttf') format('truetype');
  }
  body {
    @apply bg-lightPink;
  }
}

.transparent-background {
  position: relative;
}

.transparent-background::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.transparent-background > * {
  position: relative;
}